@media(max-width:1200px) {}

@media(max-width:992px) {
    .header__link {
        margin-left: 15px;
    }

    .header__block {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__button {
        align-self: flex-end;
    }
}

@media(max-width:768px) {
    .header__nav-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }

    .logo::after {
        width: 100vw;
        right: 50%;
        transform: translateX(50%);
    }

    .header__link {
        margin: 10px;
    }
}

@media(max-width:576px) {
    .header__title{
        font-size: 70px;
        line-height: 1;
    }
    .header__title_regular{
        font-size: 50px;
    }
}