:root {
    --mont: 'Montserrat';
    --lato: 'Lato';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    min-height: 100vh;
    background: url(../images/header_bg.png) center/cover no-repeat;
}

.header__nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--mont);
    font-weight: 800;
    color: white;
    font-size: 33px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.logo::after {
    content: "";
    position: absolute;
    background: #ffba00;
    height: 77px;
    width: 50vw;
    right: -35px;
    z-index: -1;
    top: -15px;
}

.logo_regular {
    font-weight: normal;
}

.header__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header__link {
    font-family: var(--lato);
    font-size: 33px;
    color: white;
    text-decoration: none;
    margin-left: 65px;
    display: block;
}

.header__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header__block {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.header__block::after {
    content: "";
    background: #ffba00;
    height: 198px;
    width: 100vw;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
}

.header__title {
    font-family: var(--mont);
    font-weight: 900;
    font-size: 125px;
    color: white;
    line-height: 104px;
    text-transform: uppercase;
    max-width: 565px;
}

.header__title_regular {
    font-weight: normal;
    font-size: 104px;
}

.header__button{
    max-width: 340px;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px white solid;
    background: #ffba00;
    outline: none;
    font-family: var(--mont);
    font-weight: 600;
    color: white;
    font-size: 30px;
}